rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /apiKeys/{keyId} {
        allow read, write: if true;
    }
    match /apiFailures/{failureId} {
        allow read, write: if true;
    }
    match /quiz_test/{quizId} {
        allow read, write: if true;
    }
    match /system_logs/{logId} {
        allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
